*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BankGothic Lt BT;
    background-color: #a1ffa7;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
}
header h1 {
    letter-spacing: 10px;
    text-transform: uppercase;
}
header hr {
    border: 3px solid #000000;
    margin: 14px 0;
}
main input[type=number] {
    border: 5px solid #414141;
    background-color: #ffffff;
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    font-size: 30px;
}
main h2{
    text-align: 10px;
    min-height: 10px;
}
main input[type=number]:read-only {
    border: 5px solid #414141;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
main button {
    margin: 0 4px;
    padding: 6px 0;
    width: 150px;
    border: 3px solid #414141;
    background-color: #ffffff;
    font-size: 20px;
}
main footer input[type=text]:read-only {
    border: 5px solid #414141;
    background-color: #b1b1b1;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 100%;
}